{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="side-bar">
        <div class="image-container">
            <img src="/static/Wikipedia-Logo.png" alt="">
        </div>
        <div class="side-bar-links">
            <form action="/search" method="get" class="side-bar-search">
                <input type="search" placeholder="search" name="searchinput">
                <button type="submit">search</button>
            </form>
            <a href="/">home</a>
            <a href="/random">rondom</a>
            <a href="/add">add</a>
        </div>
    </div>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>