{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="side-bar">
        <div class="image-container">
            <img src="/static/Wikipedia-Logo.png" alt="">
        </div>
        <div class="side-bar-links">
            <a href="/">home</a>
            <a href="/">rondom</a>
            <a href="/add">add</a>
        </div>
    </div>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>